<%- include("partials/header") %>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="dropdown p-2 text-center">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <b><i class="fas fa-user"></i> <%= user.name%></b>
                </a>
                <% if(user.role==='PATIENT') { %>
                    <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item p-1" href="#profile" data-bs-toggle="modal" data-bs-target="#profile"><i class="fas fa-user"></i> Profile</a></li>
                        <li><a class="dropdown-item p-1" href="#district" data-bs-toggle="modal" data-bs-target="#district"><i class="fas fa-user-shield"></i> District Details</a></li>
                        <li><a class="dropdown-item p-1" href="#doctor" data-bs-toggle="modal" data-bs-target="#doctor"><i class="fas fa-user-md"></i> Doctor Details</a></li>
                        <li><hr class="dropdown-divider my-1"></li>
                        <li><a class="dropdown-item p-1" href="#logout" data-bs-toggle="modal" data-bs-target="#logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
                    </ul>
                <% } %>
            </div>
        </div>
        <ul class="list-unstyled components text-center">
            <div id="myDiv">
                <% var syd = new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate()); %>
                <% var end = new Date(new Date(patientdata[0].enddate).getFullYear(),new Date(patientdata[0].enddate).getMonth() , new Date(patientdata[0].enddate).getDate()); %>
                <% var std = new Date(new Date(patientdata[0].startdate).getFullYear(),new Date(patientdata[0].startdate).getMonth() , new Date(patientdata[0].startdate).getDate()); %>
                <% var diff= syd.getTime() - std.getTime(); %>
                <% var diff_days =(diff /(1000 * 3600 * 24)); %>
                <% for(var i=0; i< diff_days; i++) { %>
                    <li><a href="#" class="btna" onclick="openForm('homeSubmenu<%= i %>')"><b><i class="far fa-calendar-alt"></i> Day <%= i+1 %></b></a></li>
                <% } %>
                <li><a class="btna active" href="#" onclick="openForm('homeSubmenu<%= i %>')"><b><i class="far fa-calendar-alt"></i> Day <%= i+1 %></b></a></li>
            </div>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00BFA6;">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>
                <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"><b><i class="fa fa-home" aria-hidden="true"></i> Home</b></a>
                        </li>
                        <% if(user.role==='PATIENT') { %>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/emergency"><b><i class="fa fa-ambulance" aria-hidden="true"></i> Emergency</b></a>
                            </li>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="#logout" data-bs-toggle="modal" data-bs-target="#logout"><b><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>   
        <% for(var j=0;j< diff_days;j++) { %>
        <% var c=0 %>
        <% var x="" %>
        <div id="homeSubmenu<%= j %>" class="tabcontent" style="display: none;">
            <% for(var k=0;k< patientdata[0].dailydata.length;k++) { %>
                <% if (patientdata[0].dailydata[k].day == (j+1)) { %>
                    <% c=c+1 %>
                    <form action="">
                        <fieldset disabled>
                            <div class="row p-2 justify-content-center">
                                <div class="col-12 col-sm-9 col-md-6 switch-toggle switch-candy">
                                    <input id="morning" value="morning" type="radio"
                                        <% if (patientdata[0].dailydata[k].time === "morning") {%>
                                        <%= "checked" %>
                                        <% x="morning" %>
                                        <% } %>
                                    >
                                    <label for="morning" onclick="">Morning</label>
                                    <input id="afternoon" value="afternoon" type="radio"
                                        <% if (patientdata[0].dailydata[k].time === "afternoon") {%>
                                        <%= "checked" %>
                                        <% x="afternoon" %>
                                        <% } %>
                                    >
                                    <label for="afternoon" onclick="">Afternoon</label>
                                    <input id="evening" value="evening" type="radio"
                                        <% if (patientdata[0].dailydata[k].time === "evening") {%>
                                        <%= "checked" %>
                                        <% x="evening" %>
                                        <% } %>
                                    >
                                    <label for="evening" onclick="">Evening</label>
                                    <a></a>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-12 col-sm-6">
                                    <label for="spo2" class="col-form-label"><b>SPo2</b></label>
                                    <input name="patient[dailydata][spo2]" type="number" class="form-control" id="spo2" value="<%= patientdata[0].dailydata[k].spo2 %>" required>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="body_temperature" class="col-form-label"><b>Body temperature(&#8457;)</b></label>
                                    <input name="patient[dailydata][body_temperature]" type="number" class="form-control" id="body_temperature" value="<%= patientdata[0].dailydata[k].body_temperature %>" required>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="fever" class="col-form-label"><b>Fever</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="low"
                                        <% if (patientdata[0].dailydata[k].fever === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="medium"
                                        <% if (patientdata[0].dailydata[k].fever === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="high"
                                        <% if (patientdata[0].dailydata[k].fever === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="chills" class="col-form-label"><b>Chills</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="low"
                                        <% if (patientdata[0].dailydata[k].chills === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="medium"
                                        <% if (patientdata[0].dailydata[k].chills === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="high"
                                        <% if (patientdata[0].dailydata[k].chills === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="cough" class="col-form-label"><b>Cough</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="low"
                                        <% if (patientdata[0].dailydata[k].cough === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="medium"
                                        <% if (patientdata[0].dailydata[k].cough === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="high"
                                        <% if (patientdata[0].dailydata[k].cough === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="fatigue" class="col-form-label"><b>Fatigue</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="low"
                                        <% if (patientdata[0].dailydata[k].fatigue === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="medium"
                                        <% if (patientdata[0].dailydata[k].fatigue === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="high"
                                        <% if (patientdata[0].dailydata[k].fatigue === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="muscle_body_aches" class="col-form-label"><b>Muscle body aches</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="low"
                                        <% if (patientdata[0].dailydata[k].muscle_body_aches === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="medium"
                                        <% if (patientdata[0].dailydata[k].muscle_body_aches === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="high"
                                        <% if (patientdata[0].dailydata[k].muscle_body_aches === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="headache" class="col-form-label"><b>Headache</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="low"
                                        <% if (patientdata[0].dailydata[k].headache === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="medium"
                                        <% if (patientdata[0].dailydata[k].headache === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="high"
                                        <% if (patientdata[0].dailydata[k].headache === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="taste_smell_loss" class="col-form-label"><b>Taste smell loss</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="low"
                                        <% if (patientdata[0].dailydata[k].taste_smell_loss === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="medium"
                                        <% if (patientdata[0].dailydata[k].taste_smell_loss === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="high"
                                        <% if (patientdata[0].dailydata[k].taste_smell_loss === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="sore_throat" class="col-form-label"><b>Sore throat</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="low"
                                        <% if (patientdata[0].dailydata[k].sore_throat === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="medium"
                                        <% if (patientdata[0].dailydata[k].sore_throat === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="high"
                                        <% if (patientdata[0].dailydata[k].sore_throat === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="runny_nose" class="col-form-label"><b>Runny nose</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="low"
                                        <% if (patientdata[0].dailydata[k].runny_nose === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="medium"
                                        <% if (patientdata[0].dailydata[k].runny_nose === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="high"
                                        <% if (patientdata[0].dailydata[k].runny_nose === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="nausea" class="col-form-label"><b>Nausea</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="low"
                                        <% if (patientdata[0].dailydata[k].nausea === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="medium"
                                        <% if (patientdata[0].dailydata[k].nausea === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="high"
                                        <% if (patientdata[0].dailydata[k].nausea === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="dairrhea" class="col-form-label"><b>Dairrhea</b></label><br>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="low"
                                        <% if (patientdata[0].dailydata[k].dairrhea === "low") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Low</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="medium"
                                        <% if (patientdata[0].dailydata[k].dairrhea === "medium") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >Medium</input>
                                    <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="high"
                                        <% if (patientdata[0].dailydata[k].dairrhea === "high") {%>
                                        <%= "checked" %>
                                        <% } %>
                                    >High</input>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <label for="day" class="col-form-label"><b>Day</b></label><br>
                                    <input name="patient[dailydata][day]" type="number" class="form-control" id="day" value=<%= patientdata[0].dailydata[k].day %>>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <% if(user.role==='DOCTOR') { %>
                        <h3>Doctor's Review</h3>
                        <form action="/review/<%= patientdata[0].patientid %>/<%= j+1 %>/<%= x%>" method="post">
                            <fieldset
                                <% if (typeof patientdata[0].dailydata[k].review == 'undefined') {%>
                                    <%= "" %>
                                <% } else {%>
                                    <%= "disabled" %>
                                <% } %>
                            >
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" id="address" name="address"><%= patientdata[0].dailydata[k].review %></textarea>
                                </div>
                                <div class="p-2 text-center">
                                    <button type="submit" class="shadow btn btn-dark btn-lg rounded-pill">Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    <% } else {%>
                        <div class="row">
                            <h3>Doctor's Review</h3>
                            <div class="form-group">
                                <textarea rows="5" class="form-control" id="review" name="patient[dailydata][review]" readonly><%= patientdata[0].dailydata[k].review %></textarea>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
            <% if (c==0) {%>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Data not entered!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
        </div>
        <% } %>
        <% c=0; %>
        <div id="homeSubmenu<%= j %>" class="tabcontent" style="display: block;">
            <% for(var k=0;k< patientdata[0].dailydata.length;k++) { %>
                <% if (patientdata[0].dailydata[k].day === (j+1)) { %>
                    <% c=c+1; %>
                        <form action="">
                            <fieldset disabled>
                                <div class="row p-2 justify-content-center">
                                    <div class="col-12 col-sm-9 col-md-6 switch-toggle switch-candy">
                                        <input id="morning" value="morning" type="radio"
                                        <% if (patientdata[0].dailydata[k].time === "morning") {%>
                                        <%= "checked" %>
                                        <% x="morning" %>
                                        <% } %>
                                    >
                                    <label for="morning" onclick="">Morning</label>
                                    <input id="afternoon" value="afternoon" type="radio"
                                        <% if (patientdata[0].dailydata[k].time === "afternoon") {%>
                                        <%= "checked" %>
                                        <% x="afternoon" %>
                                        <% } %>
                                    >
                                    <label for="afternoon" onclick="">Afternoon</label>
                                    <input id="evening" value="evening" type="radio"
                                        <% if (patientdata[0].dailydata[k].time === "evening") {%>
                                        <%= "checked" %>
                                        <% x="evening" %>
                                        <% } %>
                                    >
                                    <label for="evening" onclick="">Evening</label>
                                        <a></a>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-sm-6">
                                        <label for="spo2" class="col-form-label"><b>SPo2</b></label>
                                        <input name="patient[dailydata][spo2]" type="number" class="form-control" id="spo2" value="<%= patientdata[0].dailydata[k].spo2 %>" required>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="body_temperature" class="col-form-label"><b>Body temperature(&#8457;)</b></label>
                                        <input name="patient[dailydata][body_temperature]" type="number" class="form-control" id="body_temperature" value="<%= patientdata[0].dailydata[k].body_temperature %>" required>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="fever" class="col-form-label"><b>Fever</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="low"
                                            <% if (patientdata[0].dailydata[k].fever === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="medium"
                                            <% if (patientdata[0].dailydata[k].fever === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="high"
                                            <% if (patientdata[0].dailydata[k].fever === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="chills" class="col-form-label"><b>Chills</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="low"
                                            <% if (patientdata[0].dailydata[k].chills === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="medium"
                                            <% if (patientdata[0].dailydata[k].chills === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="high"
                                            <% if (patientdata[0].dailydata[k].chills === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="cough" class="col-form-label"><b>Cough</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="low"
                                            <% if (patientdata[0].dailydata[k].cough === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="medium"
                                            <% if (patientdata[0].dailydata[k].cough === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="high"
                                            <% if (patientdata[0].dailydata[k].cough === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="fatigue" class="col-form-label"><b>Fatigue</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="low"
                                            <% if (patientdata[0].dailydata[k].fatigue === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="medium"
                                            <% if (patientdata[0].dailydata[k].fatigue === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="high"
                                            <% if (patientdata[0].dailydata[k].fatigue === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="muscle_body_aches" class="col-form-label"><b>Muscle body aches</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="low"
                                            <% if (patientdata[0].dailydata[k].muscle_body_aches === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="medium"
                                            <% if (patientdata[0].dailydata[k].muscle_body_aches === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="high"
                                            <% if (patientdata[0].dailydata[k].muscle_body_aches === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="headache" class="col-form-label"><b>Headache</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="low"
                                            <% if (patientdata[0].dailydata[k].headache === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="medium"
                                            <% if (patientdata[0].dailydata[k].headache === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="high"
                                            <% if (patientdata[0].dailydata[k].headache === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="taste_smell_loss" class="col-form-label"><b>Taste smell loss</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="low"
                                            <% if (patientdata[0].dailydata[k].taste_smell_loss === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="medium"
                                            <% if (patientdata[0].dailydata[k].taste_smell_loss === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="high"
                                            <% if (patientdata[0].dailydata[k].taste_smell_loss === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="sore_throat" class="col-form-label"><b>Sore throat</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="low"
                                            <% if (patientdata[0].dailydata[k].sore_throat === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="medium"
                                            <% if (patientdata[0].dailydata[k].sore_throat === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="high"
                                            <% if (patientdata[0].dailydata[k].sore_throat === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                </div>
                                <div class="row p-2">
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="runny_nose" class="col-form-label"><b>Runny nose</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="low"
                                            <% if (patientdata[0].dailydata[k].runny_nose === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="medium"
                                            <% if (patientdata[0].dailydata[k].runny_nose === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="high"
                                            <% if (patientdata[0].dailydata[k].runny_nose === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="nausea" class="col-form-label"><b>Nausea</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="low"
                                            <% if (patientdata[0].dailydata[k].nausea === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="medium"
                                            <% if (patientdata[0].dailydata[k].nausea === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="high"
                                            <% if (patientdata[0].dailydata[k].nausea === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="dairrhea" class="col-form-label"><b>Dairrhea</b></label><br>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="low"
                                            <% if (patientdata[0].dailydata[k].dairrhea === "low") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Low</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="medium"
                                            <% if (patientdata[0].dailydata[k].dairrhea === "medium") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >Medium</input>
                                        <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="high"
                                            <% if (patientdata[0].dailydata[k].dairrhea === "high") {%>
                                            <%= "checked" %>
                                            <% } %>
                                        >High</input>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-3">
                                        <label for="day" class="col-form-label"><b>Day</b></label><br>
                                        <input name="patient[dailydata][day]" type="number" class="form-control" id="day" value=<%= patientdata[0].dailydata[k].day %>>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <% if(user.role==='DOCTOR') { %>
                            <h3>Doctor's Review</h3>
                            <form action="/review/<%= patientdata[0].patientid %>/<%= j+1 %>/<%= x%>" method="post">
                                <fieldset
                                    <% if (typeof patientdata[0].dailydata[k].review == 'undefined') {%>
                                        <%= "" %>
                                    <% } else {%>
                                        <%= "disabled" %>
                                    <% } %>   
                                >
                                    <div class="form-group">
                                        <textarea rows="5" class="form-control" id="address" name="address"><%= patientdata[0].dailydata[k].review %></textarea>
                                    </div>
                                    <div class="p-2 text-center">
                                        <button type="submit" class="shadow btn btn-dark btn-lg rounded-pill">Submit</button>
                                    </div>
                                </fieldset>
                            </form>
                        <% } else {%>
                            <div class="row">
                                <h3>Doctor's Review</h3>
                                <div class="form-group">
                                    <textarea rows="5" class="form-control" id="review" name="patient[dailydata][review]" readonly><%= patientdata[0].dailydata[k].review %></textarea>
                                </div>
                            </div>
                        <% } %>
                    <% } %>  
                <% } %>
            <% if(user.role === 'PATIENT') { %>
            <div id="patientform">
                <form action="/home/PATIENT/<%=user._id%>" method="POST">
                    <div class="row p-2 justify-content-center">
                        <div class="col-12 col-sm-9 col-md-6 switch-toggle switch-candy">
                            <input id="morning" name="patient[dailydata][time]" value="morning" type="radio">
                            <label for="morning" onclick="">Morning</label>
                            <input id="afternoon" name="patient[dailydata][time]" value="afternoon" type="radio">
                            <label for="afternoon" onclick="">Afternoon</label>
                            <input id="evening" name="patient[dailydata][time]" value="evening" type="radio">
                            <label for="evening" onclick="">Evening</label>
                            <a></a>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12 col-sm-6">
                            <label for="spo2" class="col-form-label"><b>SPo2</b></label>
                            <input name="patient[dailydata][spo2]" type="number" class="form-control" id="spo2" required>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="body_temperature" class="col-form-label"><b>Body temperature(&#8457;)</b></label>
                            <input name="patient[dailydata][body_temperature]" type="number" class="form-control" id="body_temperature" required>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="fever" class="col-form-label"><b>Fever</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fever]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="chills" class="col-form-label"><b>Chills</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][chills]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="cough" class="col-form-label"><b>Cough</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][cough]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="fatigue" class="col-form-label"><b>Fatigue</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][fatigue]" value="high">High</input>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="muscle_body_aches" class="col-form-label"><b>Muscle body aches</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][muscle_body_aches]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-2" type="radio" name="patient[dailydata][muscle_body_aches]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="headache" class="col-form-label"><b>Headache</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][headache]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="taste_smell_loss" class="col-form-label"><b>Taste smell loss</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][taste_smell_loss]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="sore_throat" class="col-form-label"><b>Sore throat</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][sore_throat]" value="high">High</input>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="runny_nose" class="col-form-label"><b>Runny nose</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][runny_nose]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="nausea" class="col-form-label"><b>Nausea</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][nausea]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="dairrhea" class="col-form-label"><b>Dairrhea</b></label><br>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="low">Low</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="medium" checked>Medium</input>
                            <input class="form-check-input mx-1" type="radio" name="patient[dailydata][dairrhea]" value="high">High</input>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <label for="day" class="col-form-label"><b>Day</b></label><br>
                            <input name="patient[dailydata][day]" type="number" class="form-control" id="day" value=<%= i+1 %> readonly>
                        </div>
                    </div>
                    <div class="row text-center p-2">
                        <div class="p-3">
                            <button type="submit" class="shadow btn btn-dark btn-lg rounded-pill">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <% } else if(c==0){ %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Data yet to be entered!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>

            <% var time=new Date(); %>
            <% var x=time.getHours(); %>
            <% var cur=""; %>
            <% if(x < 12) { %>
                <% cur="morning"; %>
            <% } %>
            <% if(x>= 12 && x< 16) {%>
                <% cur="afternoon"; %>
            <% } %>
            <% if(x>=16) {%>
                <% cur="evening"; %>
            <% } %>
            <% if (patientdata[0].dailydata.length === 0) { %>
                <script>
                    document.getElementById("patientform").style.display="display";
                </script>
            <% } else {%>
                <% if ((patientdata[0].dailydata[patientdata[0].dailydata.length-1].time === cur) && (patientdata[0].dailydata[patientdata[0].dailydata.length-1].day === (j+1) )) { %>
                    <script>
                        document.getElementById("patientform").style.display="none";
                    </script>
                <% } else {%>  
                    <script>
                        document.getElementById("patientform").style.display="display";
                    </script>
                <% } %>
            <% } %>
        </div>
    </div>
</div>
<div class="modal fade" id="logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Log out <i class="fa fa-lock" aria-hidden="true"></i></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>Do you want to Log out?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                <a href="/logout" class="btn btn-warning"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="profile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="profile" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="fa fa-user" aria-hidden="true"></i> <%= user.name%></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>ID : <%= patientdata[0].patientid %></p>
                    <p>Email : <%= user.email %></p>
                    <p>Phone No. : <%= user.phone_no %></p>
                    <p>Address : <%= patientdata[0].address.district %></p>
                    <p>Caretaker's name : <%= patientdata[0].caretaker.name %> </p>
                    <p>Caretaker's Phone No: <%= patientdata[0].caretaker.phoneno %></p>
                    <p>Startdate : <%= patientdata[0].startdate %></p>
                    <p>Enddate : <%= patientdata[0].enddate %></p>
                    <p>Covid report : <%= patientdata[0].status %></p>
                    <% var diff3= end.getTime() - syd.getTime(); %>
                    <% var diff2 =( diff3/(1000 * 3600 * 24)); %>
                    <p>No. of days remaining: <%= diff2 %></p>
                    <p>Early symptons:</p>
                    <% var a=[]; %>
                    <% if (patientdata[0].symptons.fever) {%>
                        <% a.push("Fever") %>
                    <% } %>
                    <% if (patientdata[0].symptons.chills) {%>
                        <% a.push("Chills") %>
                    <% } %>
                    <% if (patientdata[0].symptons.cough) {%>
                        <% a.push("Cough") %>
                    <% } %>
                    <% if (patientdata[0].symptons.shortness_of_breath) {%>
                        <% a.push("Shortness of breath") %>
                    <% } %>
                    <% if (patientdata[0].symptons.muscle_body_aches) {%>
                        <% a.push("Muscle body aches") %>
                    <% } %>
                    <% if (patientdata[0].symptons.taste_smell_loss) {%>
                        <% a.push("Loss of taste & smell") %>
                    <% } %>
                    <% if (patientdata[0].symptons.fatigue) {%>
                        <% a.push("Fatigue") %>
                    <% } %>
                    <% if (patientdata[0].symptons.headache) {%>
                        <% a.push("Headache") %>
                    <% } %>
                    <% if (patientdata[0].symptons.sore_throat) {%>
                        <% a.push("Sore throat") %>
                    <% } %>
                    <% if (patientdata[0].symptons.runny_nose) {%>
                        <% a.push("Runny nose") %>
                    <% } %>
                    <% if (patientdata[0].symptons.nausea) {%>
                        <% a.push("Nausea") %>
                    <% } %>
                    <% if (patientdata[0].symptons.dairrhea) {%>
                        <% a.push("Dairrhea") %>
                    <% } %>
                    <div class="row">
                        <% for(var i=0;i < a.length;i++) {%>
                            <div class="col-6">
                                <li><%= a[i] %></li>
                            </div>
                        <% } %>
                    </div>
                </div>    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="district" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-user-shield"></i> District</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>Email : email</p>
                    <p>Phone No. : phone_no</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                </div>
            </div>
        </div>
</div>
<div class="modal fade" id="doctor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-user-md"></i> <%= doctor.name %></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <p>Email : <%= doctor.email %></p>
                        <p>Phone No. : <%= doctor.phone_no %></p>
                        <p>District : <%= doctor.district %></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
    //Sidebar collapse
</script>
<script>
    function openForm(formId) {
      var i, tabcontent;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      document.getElementById(formId).style.display = "block";
    }
    //content display and hide
</script>
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDiv");
    var btns = header.getElementsByClassName("btna");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      });
    }
</script>
<script>
    var time=new Date();
    var x=time.getHours();
    var elements = document.getElementsByName('patient[dailydata][time]');
    if(x<12)
    {
        elements[0].checked = true;
        elements[0].disabled = false; 
        elements[1].disabled = true;
        elements[2].disabled = true;
    }
    if(x>=12 && x<16){
        elements[1].checked = true;
        elements[1].disabled = false; 
        elements[0].disabled = true;
        elements[2].disabled = true;
    }
    if(x>=16){
        elements[2].checked = true;
        elements[2].disabled = false; 
        elements[0].disabled = true;
        elements[1].disabled = true;
        
    }
    //time automatic
</script>
<%- include("partials/footer") %>