<%- include("partials/header") %>
<div class="container text-center p-2">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00BFA6;">
        <h5 class="p-2 mx-2"><i class="fas fa-user-md"></i>  Dr. <%= user.name%></h5>
            <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item mx-3">
                        <a class="nav-link" href="#logout" data-bs-toggle="modal" data-bs-target="#logout"><b><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</b></a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="row justify-content-center align-items-center p-2">
        <div class="col-12">
            <table class="table table-striped table-dark p-2" id="doctable">
                <tr>
                    <th>Patient ID</th>
                    <th>Discharge</th>
                    <th>Extend</th>
                </tr>
                <% for(var i=0;i< doctor.patientid.length;i++) { %>
                    <tr>
                        <td><a href="/home/PATIENT/<%= doctor.patientid[i] %>" class="link-primary"><%= doctor.patientid[i] %></a></td>
                        <td>
                            <button type="button" class="btn btn-success rounded-pill p-2" data-bs-toggle="modal" data-bs-target="#discharge" data-bs-whatever="<%= doctor.patientid[i] %>">
                                <i class="fas fa-hand-holding-medical"></i> Discharge</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary rounded-pill p-2" data-bs-toggle="modal" data-bs-target="#extend" data-bs-whatever="<%= doctor.patientid[i] %>">
                                <i class="fa fa-heartbeat" aria-hidden="true"></i> Extend</button>   
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
        <div class="p-2 text-center">
            <a href="#logout" data-bs-toggle="modal" data-bs-target="#logout" class="btn btn-warning rounded-pill p-2"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
        </div>
        <marquee><b>click patient id to view patient dailydata</b></marquee>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="discharge" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Discharge <i class="fas fa-hand-holding-medical"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><b></b></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                <a href="" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Yes </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="extend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Extend <i class="fa fa-heartbeat" aria-hidden="true"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><b></b></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                <a href=""  class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Yes</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="logout" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Log out <i class="fa fa-lock" aria-hidden="true"></i></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>Do you want to Log out?</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
                <a href="/logout" class="btn btn-warning"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
            </div>
        </div>
    </div>
</div>
<script>
    var discharge = document.getElementById('discharge');
    discharge.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var patient = button.getAttribute('data-bs-whatever');
        var modalBodyb = discharge.querySelector('.modal-body b');
        var modalfootera = discharge.querySelector('.modal-footer a');
        modalfootera.href="/discharge/"+patient;
        modalBodyb.textContent= "Do you want to discharge patient "+patient+" ?";
    })
</script>
<script>
    var extend = document.getElementById('extend');
    extend.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var patient = button.getAttribute('data-bs-whatever');
        var modalBodyb = extend.querySelector('.modal-body b');
        var modalfootera = extend.querySelector('.modal-footer a');
        modalfootera.href="/extend/"+patient;
        modalBodyb.textContent= "Do you want to extend quarantine period of patient "+patient+" ?";
    })
</script>
<%- include("partials/footer") %>
